spring.main.lazy-initialization=false
mongodb-connection-string=mongodb+srv://**username**:**password**@**clustername**.***.mongodb.net/?retryWrites=true&w=majority
mongodb-database-name=rockpaperscissorsDB